body {
  font-family: Verdana,Arial,sans-serif;
  background-color: #aaa;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    margin: 5px 0;

    a {
      background-color: #eee;
      color: #000;
      font-size: 1.2em;
      border-radius: 3px;
      padding: 15px 0;
      text-decoration: none;

      display: block;
      width: 100%;
      height: 100%;

      &:hover {
        background-color: #ccc;
      }
    }
  }
}

#main {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.game-container {
  cursor: default;
  font-weight: bold;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.grid-cell {
  background-color: #ddd;
  width: 30px;
  height: 30px;
  display: inline-block;
  margin: 1px;
  padding: 5px;
  border-radius: 3px;
  text-align: center;
  line-height: 30px;
  font-size: 1.2em;
}

.congratulations {
  background-color: #4a4;
  color: #060;
  font-weight: bold;
  padding: 20px 0;
  margin: 10px 0;
  border-radius: 3px;
  display: none;
}

.show {
  display: block;
}

.white {
  background-color: #fff;
}
.black {
  background-color: transparent;
}
.error {
  box-shadow: 0 0 10px 0 #c00 inset;
}

.hitori {
  .black {
    opacity: 0.1;
  }
}

.akari {
  .white {
    background-color: #222;
    color: #fff;
  }
  .black {
    background-color: #fff;
  }
  .light {
    box-shadow: 0 0 10px 5px #ffb inset;
  }
}

.sudoku {
  $sudoku-separation: 5px;

  .grid-row:nth-child(3n) {
    margin-bottom: $sudoku-separation;
  }
  .grid-cell:nth-child(3n) {
    margin-right: $sudoku-separation;
  }

  input {
    text-align: center;
    width: 80%;
    height: 80%;
    border: none;
    background: transparent;
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.2em;
  }
}
