body {
  background-color: #aaa;
  font-family: Verdana,Arial,sans-serif;
}
.game-container {
  cursor: default;
  font-weight: bold;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.grid-cell {
  background-color: #ddd;
  width: 30px;
  height: 30px;
  display: inline-block;
  margin: 1px;
  padding: 5px;
  border-radius: 3px;
  text-align: center;
  line-height: 30px;
  font-size: 1.2em;
}

table {
  border-collapse: collapse;
}
td {
  border: 1px solid black;
  height: 20px;
  width: 20px;
  text-align: center;
}
.white {
  background-color: #fff;
}
.black {
  background-color: #aaa;
}
